/* Select color scheme number 11 for light theme and number 27 for dark theme */

:root {
  --clr-dark: #222629;
  --clr-header-color: #22262983;
  --clr-light: #C2CAD0;
  --clr-btn-text: #000000;
  --clr-slate400: #94a3b8;
  --clr-slate600: #6B6E70;
  --clr-slate800: #6B6E70;
  --clr-green-indigo: #86C323;
  --clr-yellow-rose: #faed26;
  --clr-yellow-rose-shadow1: rgba(250, 237, 38, 0.5);
  --clr-yellow-rose-shadow2: rgba(250, 237, 38, 0.25);
  --clr-yellow-rose-shadow3: rgba(250, 237, 38, 0.22);
  --clr-img: rgba(134, 194, 50, 0.5);
  --clr-img-hover: rgba(134, 194, 50, 0.1);
  --clr-icon-linkedin: #ffeba7;
  --clr-icon-github: #ffeba7;

  /* rose rgb(225, 29, 72) */
  /* indigo rgb(79, 70, 229) */

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

.light-mode {
  --clr-light: #222629;
  --clr-dark: #C2CAD0;
  --clr-header-color: #c2cad083;
  --clr-btn-text: #ffffff;
  --clr-slate400: #1e293b;
  --clr-slate600: #1e293b;
  --clr-slate800: #1e293b;
  --clr-green-indigo: #4f46e5;
  --clr-yellow-rose: #e11d48;
  --clr-yellow-rose-shadow1: rgba(225, 29, 72, 0.5);
  --clr-yellow-rose-shadow2: rgba(225, 29, 72, 0.25);
  --clr-yellow-rose-shadow3: rgba(225, 29, 72, 0.22);
  --clr-img: rgba(79, 70, 229, 0.5);
  --clr-img-hover: rgba(79, 70, 229, 0.1);
  --clr-icon-linkedin: #0A66C2;
  --clr-icon-github: #171515;
}

body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--clr-yellow-rose);
}

strong {
  color: var(--clr-green-indigo);
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-yellow-rose);
  outline: 1px solid var(--clr-yellow-rose);
}